<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    <div class="d-flex justify-content-center">
      <div class="logo-container mt-3">
      <%= link_to root_path, class: "navbar-brand" do %>
        <p class="p-text"><%= image_tag "logo.jpeg" %>Bushido</p>
      <% end %>
    </div>
      <div class="navbar-nav me-auto">
        <% if user_signed_in? %>
           <div class="collapse navbar-collapse d-flex align-items-center" id="navbarSupportedContent">
           <div class="nav-item active">
          <div class="search-container mb-3 search-bar-color">
            <%= render "shared/search" %> <!-- Make sure this partial includes the input and button -->
          </div>
          </div>
          <div class="nav-item active">
            <%= link_to "Categories", "#", class: "nav-link" %>
          </div>
          <div class="nav-item active">
             <%= link_to "My Products", my_products_products_path, class: "nav-link" %>
          </div>
           <div class="nav-item active">
              <%= link_to "Log out", destroy_user_session_path, class: "nav-link" %>
          </div>
    </div>
        <% else %>
          <div class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
