<div class="container">
  <h1>Congrats on your order!</h1>
  <div class="d-flex justify-content-between bg-secundary my-3">
    <div class="col-4 mx-1" >
      <% if @product.photo.attached? %>
          <%= cl_image_tag product.photo.key, class: 'card-img-top mt-3' %>
        <% else %>
          <%= image_tag 'wear_tadayori.jpg', class: 'card-img-top mt-3' %>
        <% end %>
    </div>

    <div class="col-4 mx-1">
      <h2 class="brand-font"><%= @product.item_name %></h2>
      <h4> ¥ <%= @product.price %></h4>
      <h4 class="card-subtitle"><%= @product.description %></h4>
    </div>

    <div>
      <%= link_to "Check your orders", product_checkouts_path(@product), data:{turbo_method: :post}, class:"btn btn-flat" %>
    </div>
  </div>
</div>
