<div class="checkout-container">
  <div class="checkout-subcontainer-checkout d-flex flex-column align-items-center bg-secundary p-4 mb-5">
    <h1 class="mb-3 mt-3">Congrats on your order!</h1>
    <% if @product.photo.attached? %>
      <%= cl_image_tag @product.photo.key, class: "product-image-checkout mb-4" %>
    <% else %>
      <%= image_tag 'no_image.jpg', class: "product-image-checkout mb-4" %>
    <% end %>

    <div class="text-center mb-4">
      <h2 class="product-header brand-font"><strong><%= @product.item_name %></strong></h2>
      <h4 class="product-header">¥ <%= @product.price %></h4>
      <p class="product-text"><%= @product.description %></p>
    </div>

    <div class="w-50 d-flex justify-content-center">
      <%= link_to "Check your orders", product_checkouts_path(@product), data: {turbo_method: :post}, class: "btn btn-search-product" %>
    </div>
  </div>
</div>
