<%= render "layouts/banner" %>

<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to "Wanna sell your wares?", new_product_path, class: "btn btn-search m-3 fw-bold"%>
    <%= link_to "My products", my_products_products_path, class: "btn btn-search m-3 fw-bold"%>
  </div>
</div>

<h2 class="card-title text-center mt-5">Get yourself ready to face your foes!</h2>
<h3 class="card-subtitle text-center mb-2">Browse our wares:</h3>
<br>

<div class="container-custom">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-4 mb-5">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card h-100 card-product">
          <% if product.photo.attached? %>
            <%= cl_image_tag product.photo.key, class: 'card-img-top mt-3' %>
          <% else %>
            <%= image_tag 'no_image.jpg', class: 'card-img-top mt-3' %>
          <% end %>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="mb-0"><%= link_to product.item_name, product_path(product), class: "card-title text-decoration-none" %></h5>
              <h3 class="mb-0">¥<%= product.price %></h3>
            </div>
            <p><%= product.description %></p>
            <i class="cart-icon fa-solid fa-cart-plus d-flex justify-content-end me-3"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
