<div class="product-container">
  <div class="product-subcontainer d-flex justify-content-between">
    <div class="col-4 ms-5">
      <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key, class: "product-image" %>
      <% else %>
        <%= image_tag 'no_image.jpg', class: "product-image" %>
      <% end %>
    </div>

    <div class="col-4 mx-1">
      <h2 class="product-header"><strong><%= @product.item_name %></strong></h2>
      <h3 class="product-header mb-3">¥ <%= @product.price %></h3>
      <p class="product-text mb-5"><%= @product.description %></p>
      <%= link_to "Back Home", products_path, class: "btn btn-search-product" %>
    </div>

    <div class="col-4 ml-5">
      <h3 class="info-header my-3"><strong>Free shipping <i class="fa-solid fa-plane fa-rotate-by" style="color: #000000; --fa-rotate-angle: 340deg;"></i></strong></h3>
      <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <br>
      <h3 class="info-header my-3"><strong>Free exchanges <i class="fa-solid fa-truck-fast" style="color: #000000;"></i></strong></h3>
      <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <br>
      <h3 class="info-header my-5"><strong>Item in stock <i class="fa-solid fa-box-open fa-bounce"></i></strong></h3>
      <div class="button-container-1">
      <span class="mas">buy product</span>
    <button id='work' type="button" name="Hover"><%= link_to "Buy product", new_product_checkout_path(@product)%></button>
  </div>
    </div>
  </div>
</div>
